:root {
    --primary-color: #14471e; /* Default primary color */
    --secondary-color: #689040; /* Default secondary color */
    --background-color: #c8d2d1; /* Default background color */
    --accent-color: #ee9b01; /* Default accent color */
    --highlight-color: #da6a00; /* Default highlight color */
}

.moodMessage{
    display: flex;
    justify-content: start;
    padding-top: 50px;
    padding-left: 10px;
    position: relative;
}
.box{
    position: absolute;
    width: 300px; 
    height: 20px;
    background-color: var(--highlight-color);
    bottom: 23px;
}
.text {
    position: relative;
    z-index: 1; 
}
.moodOptions{
    padding-top: 20px;
    margin-left: 10px;
}
#happyOption,
#fineOption,
#sadOption
{
    display: flex;
    width: 300px;
    height: 125px;
    align-items: center;
}
#happyImg,
#fineImg,
#sadImg{
    width: 150px;
    margin-right: 5px;
}
label{
    font-weight: bold;
    margin-right: 20px;
}
#tap{
    margin-left: 11px;
    width: 50px
}
#happy,
#fine,
#sad {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    background-color: var(--secondary-color);
}

