:root {
    --primary-color: #14471e; /* Default primary color */
    --secondary-color: #689040; /* Default secondary color */
    --background-color: #c8d2d1; /* Default background color */
    --accent-color: #ee9b01; /* Default accent color */
    --highlight-color: #da6a00; /* Default highlight color */

	--font-size: 16;
}

.todolist .main {
	background: var(--background-color);
}

.content-wrapper {
	padding: 0 2rem;
}

.todo-item {
	background-color: var(--secondary-color);
	color: white;
	padding: 8px 18px;
	border-radius: 6px;
	margin-bottom: 20px;
	font-size: calc(var(--font-size) * 0.93);
	position: relative;
}

.todo-items-list {
	max-height: calc(95dvh - 246px);
	overflow: auto;
}

.todo-item > * {
	margin: 0 0 5px;
	font-size: inherit;
	font-weight: normal;
	display: block;
}

.todo-item .todo-item-time {
	margin-bottom: 0;
}

.todo-item .todo-item-date {
	font-weight: bold;
}

.back-button-container {
	text-align: left;
}

.backbutton{
	margin: 2rem 0 0 2rem;
}

.todolist .signup-header {
	padding: 0 2rem;
	display: flex;
	align-items: center;
    justify-content: space-between;
}

.todolist .addbutton {
	background: var(--accent-color);
	font-size: calc(var(--font-size) * 0.875);
	width: auto;
	padding-left: 16px;
	padding-right: 16px;
	margin: 0;
}

.todo-item-actions {
	position: absolute;
	right: 10px;
	top: 8px;
}

.todo-item-actions button {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	overflow: hidden;
	text-indent: 40px;
	background-color: var(--primary-color);
	margin: 0 0 8px;
}

.todo-item.done {
    text-decoration: line-through;
    opacity: 0.5; /* Adjust the opacity value as needed */
}

.btn-delete, .btn-delete:hover{
	background: url('del.png') center center no-repeat;
	background-size: contain;
}

.btn-edit,.btn-edit:hover {
	background: url('edit.png') center center no-repeat;
	background-size: contain;
}

.btn-done,.btn-done:hover {
	background: url('done.png') center center no-repeat;
	background-size: contain;
}

.btn-deleted, .btn-deleted:hover{
	background: url('del.png') 5px center no-repeat;
	background-size: contain;
	width: auto;
	background-color: var(--primary-color);
	padding: 10px 15px 10px 40px;
	font-size: calc(var(--font-size) * 0.875);
	margin: 0;
}

.todo-item-form input{
	width: 100%;
	text-align: left;
	display: block;
	font-family: inherit;
	font-size: calc(var(--font-size) * 0.93);
	margin-top: 10px;
	background: #fff;
	color: #000;
}

.todo-item-form input[type="date"],
.todo-item-form input[type="datetime-local"]{
	-webkit-min-logical-width: calc(100% - 16px);
	-webkit-appearance: none;
}

/* desktop only styles */
@media only screen and (min-width: 600px) {
	.todo-items-list {
		max-height: 400px;
	}
}